/* app css stylesheet */
/*.nav, .pagination, .carousel, .panel-title a {*/
    /*cursor: pointer;*/
/*}*/

.probe-danger {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.hide-empty:empty {
    display: none;
}

.probe-label {
    padding: 0;
    bottom: 10px;
}

.probe-carousel {
    height:100%;
    min-height: 250px;
}

.probe-slide {
    text-align: center;
}

.probe-guage {
    width: 75%;
    max-width: 500px;
    margin: 0 auto;
    alignment: center;
}

.navbar-image {
    background-image: url('../img/navbar-brand.png');
    background-repeat: no-repeat;
}

.navbar-brand {
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

body {
    padding: 10px;
}
