<div class="probe-carousel" uib-carousel
     active="activeSlide" interval="carouselInterval" no-wrap="carouselNoWrap"
     ng-swipe-right="swipeRight()" ng-swipe-left="swipeLeft()">
    <div class="probe-slide" uib-slide ng-repeat="probe in probes track by probe.index" index="probe.index">
        <div class="alert alert-danger probe-danger hide-empty">{{probe.reading.warning}}</div>
        <div class="probe-guage"
             ng-radial-gauge ranges="probe.guage.ranges" value="probe.reading.celsius"
             value-unit="'° C'" precision="0"
             major-graduations="{{probe.guage.majorGraduations}}"
             lower-limit="probe.guage.lowerLimit" upper-limit="probe.guage.upperLimit">
        </div>
        <div class="carousel-caption probe-label">
            {{ probe.label }}
        </div>
    </div>
</div>
